<div id="app-root">

  <mat-grid-list cols="2" rowHeight = "100px">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Add a task</mat-label>
        <input matInput placeholder="Create a new task" [(ngModel)]="newTask.description" (keyup.enter)="createTask()">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Filter Tasks</mat-label>
        <mat-select [(ngModel)]="filterOption" (ngModelChange)="setDisplayedTasks()">
          <mat-option value="all">All</mat-option>
          <mat-option value="pending">Pending Only</mat-option>
          <mat-option value="completed">Completed Only</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="tasks" *ngIf="displayedTasks.length > 0">
    <mat-card *ngFor="let task of displayedTasks">
      <mat-card-content>
        <p>
          {{task.description}}
          <mat-icon *ngIf="task.completed" aria-hidden="false" aria-label="icon" class="icon icon-complete">check</mat-icon>
          <mat-icon  *ngIf="!task.completed" aria-hidden="false" aria-label="icon" class="icon icon-incomplete">close</mat-icon>
        </p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="deleteTask(task)">DELETE</button>
        <button *ngIf="!task.completed" mat-button (click)="toggleTaskCompleted(task)">COMPLETE</button>
        <button *ngIf="task.completed" mat-button (click)="toggleTaskCompleted(task)">UNDO</button>
        <button mat-button (click)="openDialog(task)">UPDATE</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
